.nav-link {
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
}

.list ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 8px 0;
}

.list a,
.logo a {
    color: var(--secondary-color);
}

.menu {
    display: none;
}

.menu img {
    width: 24px;
    height: 24px;
}

.hero{
    padding-top: 4.5rem;
    min-height: 100vh;

    background-image:
        linear-gradient(rgba(92, 77, 66, 0.8), rgba(92, 77, 66, 0.8)),
        url("../img/hero.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 991px) {
    .menu {
        display: block;
    }

    .list {
        display: none;
    }
}

@media (min-width: 992px) {
    .header {
        background-color: transparent;
    }

    .list a,
    .logo a {
        color: rgba(255, 255, 255, 0.7);
    }

    .hero p {
        font-size: 1.15rem;
    }
}
